{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">All categories</h1>
            <p class="lead fw-normal text-white-50 mb-0">Choose your category...</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for category in categories %}
            <div class="col mb-5">
                <div class="card h-100">
                    <div id="carouselExampleInterval{{ category.id }}" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                      {% for product in category.products.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="3000">
                            <img src="{{ product.image.url }}" style="max-width: 267px; max-height: 180px; object-fit: cover;" class="d-block w-100" alt="{{ product.name }}">
                        </div>
                      {% endfor %}
                      </div>
                    </div>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ category.name }}</h5>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'store:category' category.slug %}">View products</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

    {% endblock content %}