{% extends 'base.html' %}
{% block content %}

    {% block navigation %}
    {% endblock %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">User password update</h1>
            <p class="lead fw-normal text-white-50 mb-0">Here you can change your password...</p>
        </div>
    </div>
</header>

</br>
</br>
</br>
</br>

<div class="d-flex justify-content-center">
  <form method="post" action="{% url 'store:password_update' %}"> {% csrf_token %}

      {{ form.as_p }}
        </br>
        </br>

  <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Change password</button>

</form>
</div>

</br>
</br>
</br>
</br>

{% endblock content %}